<div class="list-group">
    <% if message.status == 0 %>
        <a class="list-group-item list-group-item-danger" id="list_group_<%= message.id %>">
            <%= message.first_name %>
            <%= message.last_name %>
            <button type="button" class="btn" id="<%= message.id %>" style="background-color: transparent;">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </button>
        </a>
    <% else %>
            <a class="list-group-item active">
                <%= message.first_name %>
                <%= message.last_name %>
            </a>
    <% end %>
    <a class="list-group-item">
        <%= message.content %>
    </a>
    <% if message.image_file_name %>
        <a class="list-group-item">
            <%= image_tag message.image.url %>
        </a>
    <% end %>
    <a class="list-group-item">
        <%= message.created_at %>
    </a>
</div>