<div class="container">
	<div class="btn-group btn-group-justified">
	  <a href="#" class="btn btn-primary">Create new message</a>
	  <a href="<%= friend_path(session["id_current_user"]) %>" class="btn btn-primary">List of friends</a>
	  <a href="#" class="btn btn-primary">List of sent messages</a>
	</div>
    <h2>List of messages</h2>
    <% if @messages.present? %>
        <% @messages.each do |message| %>
            <div class="list-group">
            	<% if message.status == 0 %>
            		<a class="list-group-item list-group-item-danger" id="list_group_<%= message.id %>"><%= message.first_name %> <%= message.last_name %>
                        <button type="button" class="btn" id="<%= message.id %>" style="background-color: transparent;">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </button>
                    </a>
            	<% else %>
            		<a class="list-group-item active"><%= message.first_name %> <%= message.last_name %></a>
            	<% end %>
                <a class="list-group-item"><%= message.content %></a>
                <a class="list-group-item"><%= message.created_at %></a>
            </div>
        <% end %>
    <% end %>
</div>
<script type="text/javascript">
    <% @messages.each do |message| %>
        $("#<%= message.id %>").click(function() {
            $.get("<%= edit_message_path(message.id) %>", function(result) {
                console.log(result);

                if (result) {
                    alert(result);
                }
                else {
                    $("#list_group_<%= message.id %>").removeClass('list-group-item-danger').addClass('active');
                    $("#list_group_<%= message.id %>").children().remove();
                }
            });
        });
    <% end %>
</script>
