<% content_for :title, "Sign up" %>
<div class="container">
    <div class="row">
        <% content_for :title, "Sign up" %>
            <div class="container-fluid">
                <h1>Sign up</h1>
                <%= form_for User.new do |f| %>
                    <div class="form-group">
                        <%= f.label :email, "Email" %>
                            <%= f.email_field :email, class: "form-control", placeholder: "Enter Email" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :first_name, "First name" %>
                            <%= f.text_field :first_name, class: "form-control", placeholder: "Enter first name" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :last_name, 'Last name' %>
                            <%= f.text_field :last_name, class: "form-control", placeholder: "Enter last name" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :password, 'Password' %>
                            <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :phone_number, 'Phone number' %>
                            <%= f.telephone_field :phone_number, class: "form-control", placeholder: "Enter phone number" %>
                    </div>
                    <%= f.submit "Sign up", class: 'btn btn-default' %>
                        <% end %>
            </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <% if flash[:signup_error] %>
                <div class="alert alert-danger alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong>
                    <%= flash[:signup_error] %>
                </div>
                <% end %>
        </div>
    </div>
</div>