<div class="container">
  <div class="list-group">
    <a class= "list-group-item">
      <h2> USER LIST </h2>
    </a>
    <% @list.each do |user|%>
        <% if user.id == session["id_current_user"]%>
            <a class="list-group-item list-group-item-danger" >
           <%= user.first_name %> <%= user.last_name %> Email:  <%= user.email %>
          </a>
          <% else %>
            <% @friendlist.each do |friend| %>
                  <% if friend.email == user.email %>
                    <a class="list-group-item list-group-item-active">
                      <%= user.first_name %>   <%= user.last_name %> Email:  <%= user.email %>
                      <button type="button" class="btn btn-primary">Friend </button>
                   </a>
                   <%else%>
                   <a class="list-group-item list-group-item-active">
                     <%= form_for Friend.new do |f| %>
                      <%= f.hidden_field :friend, "#{user.id}" %>
                         <%= user.first_name %> <%= user.last_name %> <%= user.email %>

                         <button type="button" class="btn-info" disabled id="sumbit">
                            Add friend
                         </button>
                    <%end%>
                   </a>
                   <%end%>
             <%end%>
          <%end%>
     <%end%>
  </div>
  <script type="text/javascript">

  $("#sumbit").click(function() {
   console.log("submit_button clicked!!!");
   var data = {
       friend_id: $("#friend_content").val()
   }
   console.log(data);
   $.post("<%= friend_index_path %>", data, function() {
   });
})
      </script>

</div>
