<div class="container">
  <div class="list-group">
    <a class="list-group-item active">
      <h2>
        USER LIST
      </h2>
    </a>
    <% @list.each do |user|%>
      <% if user.id == session["id_current_user"]%>
      <% else %>
            <a class="list-group-item list-group-item-active">
              <%= user.first_name %>
              <%= user.last_name %>
              <%= user.email %>
              <button type="button" class="btn-info" id="add_friend_<%=user.id%>">
                Add friend
              </button>
            </a>
      <%end%>
    <%end%>
  </div>
</div>
  <script type="text/javascript">
    <% @list.each do |user| %>
    <% if user.id == session["id_current_user"]%>
    <%else%>
      $("#add_friend_<%=user.id%>").click(function () {
        var data = {
          user_id:  <%=user.id%>
        };

        $.post("<%=friend_index_path%>",data,function(){  
        });
              });
    <%end%>
    <% end %>


  </script>
